extends layouts/base.pug

block content
   h1.h1= title

   if notes
      ul.ul.notes
         for note in notes
            li.li.note
               h2.h2= note.title
               p.p= note.desc
               a.button(href=`/notes/${note.id}/edit`) Редактировать
               a.button(href=`/notes/${note.id}/delete`) Удалить
   else
      p Пока пусто.
